/* Add Fonts */
@import url('fonts.css');

.tabs img{
    width: 100px;
    height: 50px;
}
.wrapper{
  width: 60%;
  float: left;
}

.wrapper .tabs ul{
  width: 100%;
  height: 60px;
  display: flex;
  margin-left: 50px;
}

.wrapper .tabs ul li{
  width: 25%;
  height: 65px;
  padding: 0 20px;
  text-align: center;
  background: #dbe3eb;
  cursor: pointer;
  text-transform: uppercase;
  color: #8b9393;
  font-size: 16px;
  font-family: "WorkSans-Bold";
  letter-spacing: 2px;
  transition: all 0.3s ease;
  list-style-type: none;
}

/*.wrapper .tabs ul li:first-child{
  border-top-left-radius: 3px;
}

.wrapper .tabs ul li:last-child{
  border-top-right-radius: 3px;
}*/

.wrapper .tabs ul li img{
  width: 35px;
  height: 35px;
  display: block;
  margin: 0 auto 3px;
}

.wrapper .content{
  padding: 77px;
  height: 260px;
  font-size: 60px;
  margin-left: 25px;
  border-radius: 56px;
  color: #fff;
  background: #2c3e50;
  width: 90%;
}

.wrapper .content .tab_content{
  font-size: 17px;
  line-height: 22px;
  font-family: "WorkSans-Medium";
  padding-top: 30px;
}

.wrapper .tabs ul li.active{
  margin-top: -15px;
  background: #fff;
  padding-top: 9px;
  list-style-type: none;
}
.bloheading h2{
  text-align: center;
  margin-top: 5%;
  font-size: 50px;
  font-family: "WorkSans-ExtraBold";
}
.blocolor{
      color: #1dd2af;
}
.blopa{
  margin-top: 50px;
  margin-left: 43px;
  font-size: 30px;
  color: #a4a4a4;
}
.blohad{
  margin-left: 42px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 25px;
  font-family: "WorkSans-Light";
}
.bloimg img{
  width: 98%;
  margin-left: 10px;
  height: 380px;
}
.blopr{
  font-size: 30px;
  font-family: "WorkSans-Bold";
  margin-top: 20px;
  margin-left: 47px;
}
.blopra{
  font-size: 15px;
  color: #a4a4a4;
  font-family: "WorkSans-Light";
  margin-bottom: 20px;
  margin-left: 13px;
}
aside{
  float: right;
  width: 30%;
}
.asi-wrap{
  background: #8eec7d;
  color: white;
  border-radius: 33px;
  padding: 25px;
  font-family: "WorkSans-SemiBold";
  font-size: 28px;
  margin-bottom: 34px;
}
.asiheading h2{
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 30px;
  font-family: "WorkSans-Bold";
} 

.asidimg img{
     width: 180px;
}
.asidimg{
  text-align: center
}
.asi-img1 img{
      width: 150px;
}
.plheading{
  padding-bottom: 30px;
  font-size: 40px;
  font-family: "WorkSans-Medium";
}
.afhead{
  padding-top: 25px;
  font-size: 25px;
  font-family: "WorkSans-Regular";
}
.blpr {
  font-size: 12px;
  margin-top: -50px;
  margin-left: 160px;
}

.asi-img1 {
  padding-bottom: 50px;
}
.bgla{
  font-size: 20px;
  font-family: "WorkSans-Medium"
}
.blihe{
  position: absolute;
  left: 24%;
  margin-top: 15%;
  color: #fff;
  font-size: 34px;
  font-size: 25px;
  font-family: "WorkSans-Bold";
}